<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>FMDB/FMDatabase.h</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabase.h</string>
		</dict>
		<key>FMDB/FMDatabase.m</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabase.m</string>
		</dict>
		<key>FMDB/FMDatabaseAdditions.h</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabaseAdditions.h</string>
		</dict>
		<key>FMDB/FMDatabaseAdditions.m</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabaseAdditions.m</string>
		</dict>
		<key>FMDB/FMDatabasePool.h</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabasePool.h</string>
		</dict>
		<key>FMDB/FMDatabasePool.m</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabasePool.m</string>
		</dict>
		<key>FMDB/FMDatabaseQueue.h</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabaseQueue.h</string>
		</dict>
		<key>FMDB/FMDatabaseQueue.m</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMDatabaseQueue.m</string>
		</dict>
		<key>FMDB/FMResultSet.h</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMResultSet.h</string>
		</dict>
		<key>FMDB/FMResultSet.m</key>
		<dict>
			<key>Group</key>
			<string>FMDB</string>
			<key>Path</key>
			<string>FMDB/FMResultSet.m</string>
		</dict>
		<key>ASIHttp/ASIAuthenticationDialog.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIAuthenticationDialog.h</string>
		</dict>
		<key>ASIHttp/ASIAuthenticationDialog.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIAuthenticationDialog.m</string>
		</dict>
		<key>ASIHttp/ASICacheDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASICacheDelegate.h</string>
		</dict>
		<key>ASIHttp/ASIDataCompressor.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIDataCompressor.h</string>
		</dict>
		<key>ASIHttp/ASIDataCompressor.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIDataCompressor.m</string>
		</dict>
		<key>ASIHttp/ASIDataDecompressor.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIDataDecompressor.h</string>
		</dict>
		<key>ASIHttp/ASIDataDecompressor.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIDataDecompressor.m</string>
		</dict>
		<key>ASIHttp/ASIDownloadCache.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIDownloadCache.h</string>
		</dict>
		<key>ASIHttp/ASIDownloadCache.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIDownloadCache.m</string>
		</dict>
		<key>ASIHttp/ASIFormDataRequest.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIFormDataRequest.h</string>
		</dict>
		<key>ASIHttp/ASIFormDataRequest.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIFormDataRequest.m</string>
		</dict>
		<key>ASIHttp/ASIHTTPRequest.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIHTTPRequest.h</string>
		</dict>
		<key>ASIHttp/ASIHTTPRequest.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIHTTPRequest.m</string>
		</dict>
		<key>ASIHttp/ASIHTTPRequestConfig.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIHTTPRequestConfig.h</string>
		</dict>
		<key>ASIHttp/ASIHTTPRequestDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIHTTPRequestDelegate.h</string>
		</dict>
		<key>ASIHttp/ASIInputStream.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIInputStream.h</string>
		</dict>
		<key>ASIHttp/ASIInputStream.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIInputStream.m</string>
		</dict>
		<key>ASIHttp/ASINetworkQueue.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASINetworkQueue.h</string>
		</dict>
		<key>ASIHttp/ASINetworkQueue.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASINetworkQueue.m</string>
		</dict>
		<key>ASIHttp/ASIProgressDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/ASIProgressDelegate.h</string>
		</dict>
		<key>ASIHttp/Reachability.h</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/Reachability.h</string>
		</dict>
		<key>ASIHttp/Reachability.m</key>
		<dict>
			<key>Group</key>
			<string>ASIHTTP</string>
			<key>Path</key>
			<string>ASIHTTP/Reachability.m</string>
		</dict>
		<key>APPCommonDef/APPCommonDef.h</key>
		<dict>
			<key>Group</key>
			<string>APPCommonDef</string>
			<key>Path</key>
			<string>APPCommonDef/APPCommonDef.h</string>
		</dict>
		<key>APPCommonDef/QYHelpFunction.h</key>
		<dict>
			<key>Group</key>
			<string>APPCommonDef</string>
			<key>Path</key>
			<string>APPCommonDef/QYHelpFunction.h</string>
		</dict>
		<key>APPCommonDef/QYHelpFunction.m</key>
		<dict>
			<key>Group</key>
			<string>APPCommonDef</string>
			<key>Path</key>
			<string>APPCommonDef/QYHelpFunction.m</string>
		</dict>
		<key>GData/GDataXMLNode.h</key>
		<dict>
			<key>Group</key>
			<string>GData</string>
			<key>Path</key>
			<string>GData/GDataXMLNode.h</string>
		</dict>
		<key>GData/GDataXMLNode.m</key>
		<dict>
			<key>Group</key>
			<string>GData</string>
			<key>Path</key>
			<string>GData/GDataXMLNode.m</string>
		</dict>
		<key>JSONKit/JSONKit.h</key>
		<dict>
			<key>Group</key>
			<string>JSONKit</string>
			<key>Path</key>
			<string>JSONKit/JSONKit.h</string>
		</dict>
		<key>JSONKit/JSONKit.m</key>
		<dict>
			<key>Group</key>
			<string>JSONKit</string>
			<key>Path</key>
			<string>JSONKit/JSONKit.m</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___ViewController ()

@end
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.qysingleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>FMDB/FMDatabase.h</string>
		<string>FMDB/FMDatabase.m</string>
		<string>FMDB/FMDatabaseAdditions.h</string>
		<string>FMDB/FMDatabaseAdditions.m</string>
		<string>FMDB/FMDatabasePool.h</string>
		<string>FMDB/FMDatabasePool.m</string>
		<string>FMDB/FMDatabaseQueue.h</string>
		<string>FMDB/FMDatabaseQueue.m</string>
		<string>FMDB/FMResultSet.h</string>
		<string>FMDB/FMResultSet.m</string>
		<string>ASIHttp/ASIAuthenticationDialog.h</string>
		<string>ASIHttp/ASIAuthenticationDialog.m</string>
		<string>ASIHttp/ASICacheDelegate.h</string>
		<string>ASIHttp/ASIDataCompressor.h</string>
		<string>ASIHttp/ASIDataCompressor.m</string>
		<string>ASIHttp/ASIDataDecompressor.h</string>
		<string>ASIHttp/ASIDataDecompressor.m</string>
		<string>ASIHttp/ASIDownloadCache.h</string>
		<string>ASIHttp/ASIDownloadCache.m</string>
		<string>ASIHttp/ASIFormDataRequest.h</string>
		<string>ASIHttp/ASIFormDataRequest.m</string>
		<string>ASIHttp/ASIHTTPRequest.h</string>
		<string>ASIHttp/ASIHTTPRequest.m</string>
		<string>ASIHttp/ASIHTTPRequestConfig.h</string>
		<string>ASIHttp/ASIHTTPRequestDelegate.h</string>
		<string>ASIHttp/ASIInputStream.h</string>
		<string>ASIHttp/ASIInputStream.m</string>
		<string>ASIHttp/ASINetworkQueue.h</string>
		<string>ASIHttp/ASINetworkQueue.m</string>
		<string>ASIHttp/ASIProgressDelegate.h</string>
		<string>ASIHttp/Reachability.h</string>
		<string>ASIHttp/Reachability.m</string>
		<string>APPCommonDef/APPCommonDef.h</string>
		<string>APPCommonDef/QYHelpFunction.h</string>
		<string>APPCommonDef/QYHelpFunction.m</string>
		<string>GData/GDataXMLNode.h</string>
		<string>GData/GDataXMLNode.m</string>
		<string>JSONKit/JSONKit.h</string>
		<string>JSONKit/JSONKit.m</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:didReceiveMemoryWarning</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>useStoryboard</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:viewController</key>
							<string>@property (strong, nonatomic) ___VARIABLE_classPrefix:identifier___ViewController *viewController;
</string>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
							<string>self.viewController = ___RP___[[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@&quot;___VARIABLE_classPrefix:identifier___ViewController&quot; bundle:nil]___AR___;
self.window.rootViewController = self.viewController;</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:class:___VARIABLE_classPrefix:identifier___ViewController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:viewController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:dealloc:_viewController</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard_iPad.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
							</dict>
							<key>en.lproj/MainStoryboard_iPhone.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPhone.storyboard</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
							<string>if ([[UIDevice currentDevice] userInterfaceIdiom] == UIUserInterfaceIdiomPhone) {
    self.viewController = ___RP___[[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@&quot;___VARIABLE_classPrefix:identifier___ViewController_iPhone&quot; bundle:nil]___AR___;
} else {
    self.viewController = ___RP___[[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@&quot;___VARIABLE_classPrefix:identifier___ViewController_iPad&quot; bundle:nil]___AR___;
}
self.window.rootViewController = self.viewController;</string>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___ViewController_iPad.xib</key>
							<dict>
								<key>Path</key>
								<string>ViewControlleriPad.xib</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___ViewController_iPhone.xib</key>
							<dict>
								<key>Path</key>
								<string>ViewControlleriPhone.xib</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___ViewController_iPhone.xib</string>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___ViewController_iPad.xib</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>useStoryboard</key>
							<string>false</string>
						</dict>
					</dict>
				</array>
				<key>iPad</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___ViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>ViewControlleriPad.xib</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___ViewController.xib</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>useStoryboard</key>
							<string>false</string>
						</dict>
					</dict>
				</array>
				<key>iPhone</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPhone.storyboard</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___ViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>ViewControlleriPhone.xib</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___ViewController.xib</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>useStoryboard</key>
							<string>false</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>/usr/include/libxml2</string>
				</array>
				<key>OTHER_LDFLAGS</key>
				<string>-lxml2 -lz.1.2.5 -lsqlite3</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>OpenGLES</string>
				<string>MobileCoreServices</string>
				<string>CFNetwork</string>
				<string>QuartzCore</string>
				<string>SystemConfiguration</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
